* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}
p {
  font-size: 1.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.82rem;
}

body {
  margin: 0;
  padding: 0 5vw;
  background-color: rgb(133, 175, 179);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;

  padding: 20px 0;

  align-items: center;
}
header ul {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
li {
  list-style: none;
}

header img {
  height: 25px;
   
}

header a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
 
}
.hero {
  background: url(./image/slide1.png) no-repeat center center/cover;
  height: 600px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.hero h2 {
  margin-top: 150px;
  margin-bottom: 10px;
}
button {
  padding: 10px 12px;
  margin-top: 25px;
  background-color: black;
}
button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.hero button:hover {
  opacity: 0.7;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: auto;
  gap: 2rem;
  margin-top: 20px;
}

.card-container img {
  width: 100%;
}
.xbox {
  background: url(./image/xbox.png) no-repeat center center/cover;
  height: 450px;
  margin-top: 30px;
}
.xbox-content {
  width: 50%;
  padding: 50px;
}
.xbox-content button {
}
.natur {
  background: url(./image/carbon.jpg) no-repeat center center/cover;
  height: 350px;
padding:10px 0 0 5vw  ;
  margin-top: 20px; 
  color:white;
}
 
.natur-content h2 {
  color: white;
}
.natur-content p {
  color: white;
  margin-top: 20px;
}
.sozial {
  display: flex;
  gap: 15px;
  margin: 10px;
  width: 100%;
}
.links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  background-color: rgb(129, 131, 158);
  text-align: center;
}
.links ul {
  list-style: none;
}
.links li a {
  text-decoration: none;

  color: white;
  line-height: 3.5rem;
}
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  align-items: center;
}
footer p {
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
select{
  padding: 5px;
  outline: none;
  background-color: rgb(122, 158, 158);
}
select
