* {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(133, 175, 179);
    box-sizing: border-box;
    max-width: 1100px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    margin: auto;
  }
  .nav-container {
    display: flex;
    list-style: none;
    padding: 20px 0;
    gap: 10px;
    align-items: center;
  }
  .nav-container img {
    height: 25px;
    width: auto;
  }
  
  .nav-container a {
    color: white;
    text-decoration: none;
  }
  .hero {
    background: url(./image/slide1.png) no-repeat center center/cover;
    height: 400px;
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero h2{
      margin-top: 150px;
      margin-bottom: 10px;
  }
  .hero button{
      
  }